/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Login Form Styles */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Error Message Styles */
p.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* Signup Link Styles */
p.signup {
    text-align: center;
    margin-top: 40px;
}
